/* Define font families */
@font-face {
  font-family: "Figtree Extra Bold";
  src: url("../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree Medium";
  src: url("../assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
}

/* Text Preset 1 */
.text-preset-1 {
  font-family: "Figtree Extra Bold";
  font-size: 2.4rem; /* 24px */
  line-height: 1.5; /* 150% */
  letter-spacing: 0;
}

/* Text Preset 2 */
.text-preset-2 {
  font-family: "Figtree Medium";
  font-size: 1.6rem; /* 16px */
  line-height: 1.5; /* 150% */
  letter-spacing: 0;
}

/* Text Preset 3 */
.text-preset-3 {
  font-family: "Figtree Medium";
  font-size: 1.4rem; /* 14px */
  line-height: 1.5; /* 150% */
  letter-spacing: 0;
}

/* Text Preset 3 (Bold) */
.text-preset-3-bold {
  font-family: "Figtree Extra Bold";
  font-size: 1.4rem; /* 14px */
  line-height: 1.5; /* 150% */
  letter-spacing: 0;
}
