/* Text Preset 1 */
.text-preset-1 {
  font-family: "Figtree", sans-serif;
  font-size: 2.4rem; /* 24px */
  line-height: 1.5; /* 150% */
  letter-spacing: 0;
  font-weight: 800;
}

/* Text Preset 2 */
.text-preset-2 {
  font-family: "Figtree", sans-serif;
  font-size: 1.6rem; /* 16px */
  line-height: 1.5; /* 150% */
  letter-spacing: 0;
  font-weight: 500;
}

/* Text Preset 3 */
.text-preset-3 {
  font-family: "Figtree", sans-serif;
  font-size: 1.4rem; /* 14px */
  line-height: 1.5; /* 150% */
  letter-spacing: 0;
  font-weight: 500;
}

/* Text Preset 3 (Bold) */
.text-preset-3-bold {
  font-family: "Figtree", sans-serif;
  font-size: 1.4rem; /* 14px */
  line-height: 1.5; /* 150% */
  letter-spacing: 0;
  font-weight: 800;
}
